.slider-img{
    filter: brightness(50%);
}
.course-price{
    color: #289BDE;
}
.li-buttons{
    background-color: #289BDE;
    color: white;
}
.modal-area{
    background-color: #289BDE ;
}
.modal-button{
    color: #289BDE;
}
footer{
    height: 300px;
    background-color: #161616;
}